[submodule "VL.ImGui/dependencies/ImGui.NET-nativebuild"]
	path = VL.ImGui/dependencies/ImGui.NET-nativebuild
	url = https://github.com/vvvv/ImGui.NET-nativebuild.git
	branch = master

[submodule "VL.Stride/packages/StrideLiveEditor"]
	path = VL.Stride/packages/StrideLiveEditor
	url = https://github.com/tebjan/StrideLiveEditor.git
