[submodule "VL.ImGui/dependencies/ImGui.NET-nativebuild"]
	path = VL.ImGui/dependencies/ImGui.NET-nativebuild
	url = https://github.com/vvvv/ImGui.NET-nativebuild.git
	branch = master
	
[submodule "VL.ImGui/dependencies/ImGui.NET"]
	path = VL.ImGui/dependencies/ImGui.NET
	url = https://github.com/vvvv/ImGui.NET.git
	branch = master
