<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />

    <!-- Download and extract nuget folder form https://dev.azure.com/xamarin/public/_build/results?buildId=137454&view=artifacts&pathAsName=false&type=publishedArtifacts -->
    <add key="Skia" value="C:\Users\elias\nuget" />
    <!--<add key="vvvv-public-feed" value="http://teamcity.vvvv.org/guestAuth/app/nuget/v1/FeedService.svc/" />-->
    <!--<add key="local-stride" value="path\to\stride\bin\packages" />-->
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Stride.SharpFont" />
      <package pattern="Stride.Mono.TextTemplating" />
    </packageSource>

    <packageSource key="Skia">
      <package pattern="HarfBuzzSharp*" />
      <package pattern="SkiaSharp*" />
    </packageSource>
    
    <!-- Uncomment to use your locally built Stride packages. Note that you need to change the version in Directory.Packages.props as well. -->
    <!--
    <packageSource key="local-stride">  
      <package pattern="Stride*" />
    </packageSource>
    -->
  </packageSourceMapping>
</configuration>
