<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!--<add key="vvvv-public-feed" value="http://teamcity.vvvv.org/guestAuth/app/nuget/v1/FeedService.svc/" />-->
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    
    <!--<packageSource key="vvvv-public-feed">
      --><!-- Stride 4.1 pacakages currently only available on our nuget feed --><!--
      <package pattern="Stride*" />
    </packageSource>-->
  </packageSourceMapping>
</configuration>
